footer {
    background-color: rgb(111 82 57);
    width: 100%;
    height: 3.13rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.13rem;
    gap: 4.38rem;
    color: white;
    padding: 3.13rem 7.50rem;
    font-size: 1.25rem;
}

.left_footer-side {
    display: flex;
    align-items: center;
    gap: 0.31rem;
}

.left_footer-side img {
    width: 1.25rem;
}

@media screen and (max-width: 480px) {}

@media screen and (min-width: 481px) and (max-width: 768px) {}

@media screen and (min-width: 769px) and (max-width: 1280px) {}

@media screen and (min-width: 1440px) {
    footer {
        padding: 50px max(50px, calc(50% - 720px));
    }
}