header {
    background-color: rgb(111 82 57);
    width: 100%;
    height: 3.13rem;
    padding: 3.13rem 7.50rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-footer-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header img {
    width: 2.13rem;
    height: 2.13rem;
}

header p {
    font-size: 1rem;
    color: antiquewhite;
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 600;
}

.app_text_style {
    font-size: 1.25rem;
}

@media screen and (max-width: 480px) {}

@media screen and (min-width: 481px) and (max-width: 768px) {}

@media screen and (min-width: 769px) and (max-width: 1280px) {}

@media screen and (min-width: 1440px) {
    header {
        padding: 50px max(50px, calc(50% - 720px));
    }

}